:root {
	--generalpadding: 8px;
}

.fonted {
	font-family: 'Symbola', serif;
	text-align: center;
}

body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

#tophold {
	flex: 7;
	display: flex;
	flex-direction: row;
	margin: 0;
}

#leftholdhold {
	flex: 3;
	background-color: var(--bs-secondary-bg);
	display: flex;
	flex-direction: column;
	/*padding: var(--generalpadding);*/
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#righthold {
	flex:7;
	display: flex;
	flex-direction: column;
	align-items: safe center;
	justify-content: safe center;
	padding: var(--generalpadding);
	margin: 0;
	overflow-x: auto;
	position: relative;
}

#bottomhold {
	flex: 3;
	background-color: var(--bs-tertiary-bg);
	padding: var(--generalpadding);
	overflow-y: auto;
}

#bottomholdinternal {
	margin: 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

#result_add {
	border-radius: 5px;
	border: none;
	font-style: italic;
}

.numberselector {
	font-family: 'Symbola', serif;
	text-align: center;
	font-weight: bold;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	margin: 8px;
	border: none;
    background-color: var(--bs-secondary-bg);
	transition: background-color 0.25s ease-out;
	word-break: break-all;
	font-size: 16px;
	line-height: 17px;
}

.numberselector:hover, .numberselector.selected {
	background-color: #57616b;
}

#topbar {
	background-color: #14171a;
	width: 100%;
	padding: 12px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
}

#topbar > * {
	font-family: 'Symbola', serif;
	margin-right: 20px;
	text-decoration: none;
	font-style: italic;
	color: #ffffff;
	cursor: pointer;
}

.expressioninlist {
	width: 100%; 
	padding: 12px; 
	border-bottom: 1px solid #57616b; 
	overflow-x: auto;
	overflow-y: hidden;
}

#helpoverlay {
	position: absolute; 
	top:0; 
	left:0;
	width: 100%; 
	height: 100%;
	background-color: #0008;
	display: flex;
	align-items: center;
	justify-content: center;
}

#helpwindow {
	background-color: var(--bs-body-bg);
	border-radius: 8px;
	padding: 20px;
	overflow-y: scroll;
	max-width: 70%;
	max-height: 90%;
	position: relative;
}

#helpclose {
	top: 0;
  	right: 0;
	position: absolute;
	color: #dd0000;
	cursor: pointer;
}

#helpcontent {
	white-space: pre-wrap;
	font-style: italic;
}

.bolded {
	font-style: normal !important; 
	font-weight: bold;
}

.exprarrow {
	cursor: pointer;
	user-select: none;
}

.exprarrowhold {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	padding: 2px 6px 2px 6px;
}

#openKbd {
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	background-color: #485159;
	border-radius: 5px 5px 0 0;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 5px;
	user-select: none;
	transition: padding-bottom 0.25s ease-out;
}
#openKbd:hover {
	padding-bottom: 10px;
}
#openKbd::before,#openKbd::after {
	width: 5px;
	height: 5px;
	background-color: #485159;
	content: "";
	display: block;
	position: absolute;
	bottom:0;
}
#openKbd::before {
	right:100%;
	clip-path: polygon(100% 100%,100% 0%,97.4% 22.2%,90% 43.3%,78.1% 62.3%,62.3% 78.1%,43.3% 90%,22.2% 97.4%,0% 100%);
	margin-right:-0.1px;
}
#openKbd::after {
	left:100%;
	clip-path: polygon(0% 100%,0% 0%,2.5% 22.3%,9.9% 43.4%,21.8% 62.3%,37.7% 78.2%,56.6% 90.1%,77.7% 97.5%,100% 100%);
	margin-left:-0.1px;
}

#kbd {
	width: 768px;
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	background-color: #485159;
	height:40%;
	border-radius: 5px 5px 0 0;
}

.kbdbtn {
	font-family: 'Symbola', serif;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	margin: 2px;
	border: none;
    background-color: var(--bs-secondary-bg);
	word-break: break-all;
	font-size: 16px;
	line-height: 17px;
}

.hidden {
	display: none !important;
}

#kbdtop {
	display: flex;
	flex-direction: row;
	flex: 6;
}

@media screen and (max-width: 768px) {
	#leftholdhold {
		flex: 5
	}
	#righthold {
		flex: 5;
	}
	#helpwindow {
		max-width: 100%;
		max-height: 90%;
	}
	#kbd {
		width: 100%;
	}
	#kbdtop {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 576px) {
	#tophold {
		flex-direction: column-reverse;
	}
}
